<?xml version="1.0"?>
<config>
    <modules>
        <Sysint_CustomContact>
            <version>0.1.0</version>
        </Sysint_CustomContact>
    </modules>
    <global>
        <blocks>
            <sysint_customcontact>
                <class>Sysint_CustomContact_Block</class>
            </sysint_customcontact>
        </blocks>
        <helpers>
            <sysint_customcontact>
                <class>Sysint_CustomContact_Helper</class>
            </sysint_customcontact>
        </helpers>
        <models>
            <sysint_customcontact>
                <class>Sysint_CustomContact_Model</class>
                <resourceModel>sysint_customcontact_resource</resourceModel>
            </sysint_customcontact>
            <sysint_customcontact_resource>
                <class>Sysint_CustomContact_Model_Resource</class>
                <entities>
                    <contact>
                        <table>sysint_customcontact_contact</table>
                    </contact>
                    <status>
                        <table>sysint_customcontact_status</table>
                    </status>
                </entities>
            </sysint_customcontact_resource>
        </models>
        <resources>
        <sysint_customcontact_setup>
            <setup>
                <module>Sysint_CustomContact</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </sysint_customcontact_setup>
        <sysint_customcontact_write>
            <connection>
                <use>core_write</use>
            </connection>
        </sysint_customcontact_write>
        <sysint_customcontact_read>
            <connection>
                <use>core_read</use>
            </connection>
        </sysint_customcontact_read>
    </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sysint_customcontact before="Mage_Adminhtml">Sysint_CustomContact_Adminhtml</sysint_customcontact>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sysint_customcontact>
                    <file>sysint/customcontact/contact.xml</file>
                </sysint_customcontact>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <Sysint_CustomContact before="Mage_Contacts">Sysint_CustomContact</Sysint_CustomContact>
                    </modules>
                </args>
            </contacts>
        </routers>
        <layout>
            <updates>
                <sysint_customcontact>
                    <file>sysint/customcontact.xml</file>
                </sysint_customcontact>
            </updates>
        </layout>
    </frontend>
</config>